<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>
    <%- include('../partials/search.ejs')  %>
    <div class="container">
        <%- include('../partials/header.ejs') %>
        <main class="main">
            <%- body %> 
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

    <script type="text/javascript">
        var isFlutterInAppWebViewReady = false;
        window.addEventListener("flutterInAppWebViewPlatformReady", function(event) {
          isFlutterInAppWebViewReady = true;
        });

        function onTelegramAuth(user) {
            if (isFlutterInAppWebViewReady) {
                const args = [user.id];
                window.flutter_inappwebview.callHandler('myHandlerName', ...args);
            }

          console.log('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + '), hash: ' + user.hash);
          alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
        }
    </script>
    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="samplebot" data-size="large" data-auth-url="https://node-express-mob-dev.onrender.com/login" data-request-access="write"></script>
</body>
</html>